<div class="mainSection bg-light">
    <div class="d-flex flex-column justify-content-center align-items-center py-4">
      <lottie-player   style="width: 450px"
      src="https://lottie.host/17f7a021-86f4-4d62-91a2-baaac3a3de2e/lLBkBoNFm8.json" background="transparent"  speed="0.5" loop  autoplay >
      </lottie-player>

      <h4>Successfully</h4>
      <p class="w-25 text-center mt-2">Your account successfully created Just few steps more to setup your business account</p>
    </div>
</div>