/* You can add global styles to this file, and also import other style files */

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500&display=swap');

*{
    font-family: 'Cairo', sans-serif;
}

@font-face {
    font-family: 'Cairo', sans-serif;
  }

  .coloredButton{
    background-color: rgb(99, 92, 168);
    border-radius: 4px;
    padding: 10px 50px;
    border: unset;
    color: #ffffff;
    font-size: 14px;
}
